<%= form_with(model: attendance, local: true) do |form| %>

  
  <%= current_user.username%>
  <br>
  <br>
  <div class="field">
    <%= form.label :event_id %>
    <%= form.collection_select :event_id, Event.order(:title),:id,:title, include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>